/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6413rem + 0.2656vw, 0.96rem);
  --step--1: clamp(0.8331rem, 0.7598rem + 0.3669vw, 1.2rem);
  --step-0: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --step-1: clamp(1.2rem, 1.065rem + 0.675vw, 1.875rem);
  --step-2: clamp(1.44rem, 1.2593rem + 0.9038vw, 2.3438rem);
  --step-3: clamp(1.7281rem, 1.4878rem + 1.2019vw, 2.93rem);
  --step-4: clamp(2.0738rem, 1.7561rem + 1.5881vw, 3.6619rem);
  --step-5: clamp(2.4881rem, 2.0703rem + 2.0894vw, 4.5775rem);
}
