.about {
  --cluster-gap: var(--space-3xs-3xl, 1rem);
}

.about__image {
  max-width: min(100vw, 40ch);

  margin-block: var(--space-s, 1rem);
}

#about__image > .image-container {
  --n: 1;
  --d: 1;
}

.about__bio {
  width: min(100%, 60ch);
}
