.button {
  background-color: var(--button-background, inherit);
  box-shadow: 0.2em 0.2em 0px black;

  color: var(--button-text, inherit);
  text-decoration: none;

  border: 1px solid transparent;
  padding: 0.2em 0.4em;

  transition-property: background-color, border-color, box-shadow, color,
    transform;
  transition-duration: 200ms;
  transition-timing-function: var(--easeOutCirc, ease-out);
}

.button[button-shape="square"] {
  padding: 0.2em;
}

/* Tint the background when hovering */
.button:hover {
  background-color: color-mix(
    in oklch,
    var(--button-background, inherit),
    white 25%
  );
}

/* Shade the background when clicked */
.button:active {
  background-color: color-mix(
    in oklch,
    var(--button-background, inherit),
    black 5%
  );

  box-shadow: none;

  transform: translate(0.2em, 0.2em);
}

.button[data-state="active"] {
  background-color: color-mix(
    in oklch,
    var(--button-background, inherit),
    black 5%
  );

  pointer-events: none;

  border-color: black;
}

/* VARIANTS: hidden */

.button[button-variant="hidden"] {
  box-shadow: none;
}

.button[button-variant="hidden"]:hover {
  border-color: black;

  transform: translate(-2px, -2px);

  box-shadow: 0.2em 0.2em black;
}

.button[button-variant="hidden"]:active {
  box-shadow: none;

  border-color: black;

  transform: translate(0px, 0px);
}

/* Disable transitions if user prefers reduced motion */

@media (prefers-reduced-motion) {
  .button {
    transition: none;
  }
}
