.button {
  --button-color: var(--color-primary, black);

  background-color: var(--button-color, white);
  color: var(--color-text, black);

  padding: 0.2em 0.4em;

  box-shadow: 0.2em 0.2em 0px black;

  text-decoration: none;

  border: 1px solid transparent;

  transition-property: box-shadow, transform, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: var(--easeOutCirc, ease-out);
}

.button[button-color="secondary"] {
  --button-color: var(--color-secondary, black);
}

.button[button-color="background"] {
  --button-color: var(--color-background, black);
}

.button[button-shape="square"] {
  padding: 0.2em;
}

/* Tint the background when hovering */
.button:hover {
  background-color: color-mix(in oklch, var(--button-color) 100%, white 25%);
}

/* Shade the background when clicked */
.button:active {
  background-color: color-mix(in oklch, var(--button-color) 100%, black 4%);

  box-shadow: none;

  transform: translate(0.2em, 0.2em);
}

.button[data-state="active"] {
  background-color: color-mix(in oklch, var(--color-secondary) 100%, black 4%);

  pointer-events: none;

  border-color: black;
}

/* VARIANTS: hidden */

.button[button-variant="hidden"] {
  box-shadow: none;
}

.button[button-variant="hidden"]:hover {
  border-color: black;

  transform: translate(-2px, -2px);

  box-shadow: 0.2em 0.2em black;
}

.button[button-variant="hidden"]:active {
  box-shadow: none;

  border-color: black;

  transform: translate(0px, 0px);
}

/* Disable transitions if user prefers reduced motion */

@media (prefers-reduced-motion) {
  .button {
    transition: none;
  }
}
