.emblem {
  /* Make text color a gradient */
  background: linear-gradient(
    to left,
    var(--color-accent-left, #fff),
    var(--color-accent-right, #fff)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
