.footer {
  --cluster-gap: var(--space-xs);

  display: grid;
  gap: var(--space-m-l);
  grid-auto-flow: column dense;
  position: relative;

  align-items: center;
  place-content: space-between;

  bottom: 0;
  padding-block: var(--space-xs);

  border-top: 0.125rem solid var(--color-text, black);

  color: var(--color-text-light);
}

.footer__socials {
  --button-text: var(--color-text-light);

  width: fit-content;

  margin-block: 0;
  padding-inline-start: 0;

  line-height: 0;
  list-style-type: none;
}
