.footer {
  --cluster-gap: var(--space-xs);

  display: grid;
  grid-auto-flow: column dense;
  align-items: center;
  place-content: space-between;
  gap: var(--space-m-l);

  position: relative;
  bottom: 0;

  padding-block: var(--space-xs);

  color: var(--color-text-light);
}

.footer__socials {
  --button-text: var(--color-text-light);

  width: fit-content;

  list-style-type: none;
  padding-inline-start: 0;
  line-height: 0;
  margin-block: 0;
}
