.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s) var(--space-xl);
  justify-content: space-around;

  container: header / inline-size;

  border-bottom: var(--border-normal) solid var(--color-text, black);
  padding-block: var(--space-xs);
}

.header__autogram {
  block-size: 100%;
  min-block-size: 24px;
  min-inline-size: 42px;

  color: var(--color-text, black);
  text-decoration: none;
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;

  border-top: var(--border-normal) solid transparent;

  transition-duration: 100ms;
  transition-timing-function: var(--easeOutCirc, ease-out);
  transition-property: border-color, background-color;
}

.header__autogram:visited {
  color: initial;
}

.header__autogram > h1 {
  margin-block-start: 0;

  font-weight: normal;
}

.header__autogram:hover,
.header__autogram:focus {
  border-top-color: var(--color-text, black);
}

.header__autogram:active {
  background-color: var(--color-primary);
}
