.hero {
  --grid-gap: var(--space-2xl);
}

.hero__text {
  margin-block-end: var(--space-s);
}

.hero__text > *:not(:first-child) {
  margin-block-start: var(--space-m-l);
}

.hero__name {
  font-size: var(--step-4);
  color: var(--color-primary);
}

.hero__acronym {
  padding-inline: 0.25rem;

  font-size: var(--step-3);
  font-weight: 500;

  color: var(--color-primary);

  border-radius: 0.25rem;
}

.hero__acronym:hover,
.hero__acronym:active {
  color: var(--color-background);
  background-color: var(--color-primary);

  text-decoration: underline;
}

.hero__image {
  --frame-n: 1;
  --frame-d: 1;
}
