.logo {
  inline-size: 56px;
  block-size: 56px;

  color: var(--color-accent);
}

.logo__path {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;

  animation: dash 2.5s linear forwards;

  transition-property: color;
  transition-timing-function: linear;
  transition-duration: 150ms;
}

.logo__path.animation-fast {
  animation-duration: 1.5s;
}

.logo__path:active {
  color: var(--color-accent);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (prefers-reduced-motion) {
  .logo__path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;

    animation: none;

    transition: none;
  }
}
