.navbar > a {
  text-decoration: none;

  padding: 0.25em 0.5em;

  border: 1px solid transparent;
}

.navbar > a:hover {
  border-color: black;

  box-shadow: 2px 2px black;
}

.navbar > a:active {
  box-shadow: none;
}

.navbar > a[data-state="active"] {
  background-color: color-mix(in oklch, var(--color-secondary) 100%, black 4%);

  border-color: black;

  box-shadow: inset 2px 2px black;
}
