.navbar {
  --cluster-gap: var(--space-3xs) var(--space-s);
}

.navbar__link {
  block-size: 100%;
  min-block-size: 24px;
  min-inline-size: 42px;

  padding-inline: 0.2rem;

  color: var(--color-text);
  text-decoration: overline var(--border-normal) transparent;
  text-transform: uppercase;
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition-property: text-decoration-color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.navbar__link:visited {
  color: initial;
}

.navbar__link:hover,
.navbar__link:focus {
  text-decoration-color: var(--color-text);
}

.navbar__link:active {
  background-color: var(--color-primary);
}

.navbar__link[data-state="active"] {
  color: var(--color-text-light);
  text-decoration-color: var(--color-text-light);

  pointer-events: none;
}

@container header ( 26.75em <= width <= 35em) {
  .navbar {
    order: 3;
  }
}
