.navbar {
  --cluster-gap: var(--space-s);
}

.navbar > a {
  min-inline-size: 48px;
  min-block-size: 48px;

  padding-inline: 0.2rem;

  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: color 150ms ease-out;
}

.navbar > a:hover {
  color: var(--color-accent);
}

.navbar > a:active {
  color: var(--color-text);
}

.navbar > a[data-state="active"] {
  text-decoration: underline;
  text-underline-offset: 0.4em;

  color: color-mix(in oklab, var(--color-text) 100%, white 100%);

  pointer-events: none;
}
