.projects {
  --box-padding: var(--space-m);
}

#projects {
  background-color: var(--color-secondary);
}

.projects > #project-grid {
  margin-block-start: var(--space-m);

  /* Account for project-card::before drop shadow */
  padding-inline-end: 8px;
}

#project-grid {
  --grid-gap: var(--space-m);
}

#project-grid > #project-card {
  border: 2px solid black;
  transform-style: preserve-3d;
}

/* Drop-shadow */
#project-grid > #project-card::before {
  content: "";
  inset: 0;
  position: absolute;
  transform: translate3d(10px, 8px, -1px);
  background-color: black;
}

#project-grid > #project-card:hover > a > .project__label {
  text-decoration: underline;
  background: var(--color-secondary);
  color: var(--color-text);
}

#project-grid > #project-card:active {
  translate: 0px 2px;
}

.project__label {
  position: absolute;
  bottom: var(--space-xs-s);

  margin-block-start: 0;
  padding: var(--space-2xs);

  border: 2px solid var(--color-text);
  border-left: none;

  color: white;
  background-color: #00000075;
}
