.projects {
  --box-padding: var(--space-m) var(--space-m) var(--space-2xl-3xl)
    var(--space-m);
  --stack-gap: var(--space-l);

  background-color: var(--color-primary);
}

/* TODO: replace id's with classes where possible */

.projects > #project-grid {
  /* Account for project-card::before drop shadow */
  padding-inline-end: 8px;
}

#project-grid {
  --grid-gap: var(--space-m);
}

#project-card[data-disabled="true"] {
  pointer-events: none;
}

#project-grid > #project-card {
  border: 2px solid black;
  transform-style: preserve-3d;

  transition-duration: 200ms;
  transition-timing-function: var(--easeOutCirc, ease-out);
  transition-property: translate;
}

/* Drop-shadow */
#project-grid > #project-card::before {
  content: "";
  inset: 0;
  position: absolute;
  transform: translate3d(10px, 8px, -1px);
  background-color: black;

  transition-duration: 200ms;
  transition-timing-function: var(--easeOutCirc, ease-out);
  transition-property: transform;
}

#project-grid > #project-card:hover > a > .project__label {
  text-decoration: underline;
  background: var(--color-secondary);
  color: var(--color-text);
}

#project-grid > #project-card:active {
  translate: 8px 8px;
}

#project-grid > #project-card:active:before {
  transform: translate3d(0, 0, -1px);
}

.project__label {
  position: absolute;
  bottom: var(--space-xs-s);

  margin-block-start: 0;
  padding: var(--space-2xs);

  border: 2px solid var(--color-text);
  border-left: none;

  color: white;
  background-color: #00000075;
}

@media (prefers-reduced-motion) {
  #project-grid > #project-card,
  #project-grid > #project-card::before {
    transition: none;
  }
}
