.repos {
  --box-padding: var(--space-m);
}

#repo-grid {
  --ideal: 55ch;
  --max: 75ch;

  margin-block-start: var(--space-m);
}

#repo-grid > a {
  color: black;
  text-decoration: none;
}

#repo-name {
  text-decoration: underline;
}
