.repos {
  --box-padding: var(--space-m);
}

.repos > header > a {
  color: var(--color-secondary-light, black);
}

#repo-grid {
  --ideal: 55ch;
  --max: 75ch;
  --grid-gap: var(--space-l);

  margin-block-start: var(--space-m);
}

#repo-grid > a {
  color: black;
  text-decoration: none;
}

#repo-name {
  text-decoration: underline;
}
