.repos {
  --box-padding: var(--space-m);
}

.repos__grid {
  --ideal: 55ch;
  --max: 75ch;
  --grid-gap: var(--space-l);

  margin-block-start: var(--space-m);
}

.repos__repo-link {
  text-decoration: none;
}

.repos__repo-name {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
