.box {
  padding: var(--box-padding, 1rem);
  border: var(--box-border-width, var(--border-normal)) solid;

  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: var(--box-border-width, var(--border-normal)) transparent;
  outline-offset: calc(var(--box-border-width, var(--border-normal)) * -1);

  color: var(--box-text, --color-text);
  background-color: var(--box-background, --color-background);
}

.box > * {
  color: inherit;
}

.box.invert {
  color: var(--box-background, --color-background);
  background-color: var(--box-text, --color-text);
}
