.box {
  padding: var(--box-padding, 1rem);
  border: var(--border-thin) solid;

  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: var(--border-thin) transparent;
  outline-offset: calc(var(--border-thin) * -1);

  color: var(--box-text, --color-text);
  background-color: var(--box-background, --color-background);
}

.box > * {
  color: inherit;
}

.box.invert {
  color: var(--box-background, --color-background);
  background-color: var(--box-text, --color-text);
}
