.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s, 1rem);
  justify-content: space-between;
  align-items: center;
}

.cluster[data-justify="start"] {
  justify-content: flex-start;
}
