.frame {
  --n: 16; /* numerator */
  --d: 9; /* denominator */

  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video,
.frame > picture,
.frame > picture > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  aspect-ratio: var(--n) / var(--d);
}
