.grid {
  /* ↓ Establish a grid context */
  display: grid;
  /* ↓ Set a gap between grid items */
  grid-gap: var(--grid-gap, 1rem);
  /* ↓ Set the minimum column width */
  --minimum: var(--grid-col-wmin, 300px);
}

@supports (width: min(var(--minimum), 100%)) {
  .grid {
    /* ↓ Enhance with the min() function
into multiple columns */
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--minimum), 100%), 1fr)
    );
  }
}

.flex-grid {
  --ideal: 350px;
  --max: 600px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap, 1rem);
}

.flex-grid > * {
  flex: 1 1 var(--ideal);
  max-inline-size: var(--max, 100%);
}

.flex-grid[data-justify="center"] {
  justify-content: center;
}
