{
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.prettierrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.html", "*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
