{% set posts = collections.posts_en if locale === "en" else collections.posts_cnr -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
	<title>{{ dictionary.feeds.title[locale] }}</title>
	<subtitle>{{ dictionary.feeds.subtitle[locale] }}</subtitle>
	<link href="{{ page.url | absoluteUrl(site.url) }}" rel="self" />
	<updated
		>{{ posts | getNewestCollectionItemDate | dateToRfc3339
		}}</updated
	>
	<id>{{ site.url }}</id>
	<author>
		<name>{{ author.name }}</name>
		<email>{{ author.email }}</email>
	</author>
	{%- for post in posts | reverse %} {%- set absolutePostUrl =
	post.url | absoluteUrl(site.url) %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}" />
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content xml:lang="{{ locale }}" type="html"
			>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
		>
	</entry>
	{%- endfor %}
</feed>
