<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {% include "partials/meta.njk" %}

        {# TODO: add favicons meta #}
        <link rel="icon" href="/images/favicon.svg" />

        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="/assets/css/bundle.min.css" />
    </head>
    <body>
        {% include "partials/header.njk" %}
        {% block content %}
        {% endblock content %}
        {% include "partials/footer.njk" %}
        <snow-fall></snow-fall>
    </body>
    <script type="module" src="/assets/js/snow-fall.js"></script>
</html>
