<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ metaTitle }}</title>
        <meta name="description" content="{{ metaDescription }}" />
        <link rel="stylesheet" href="/css/main.min.css" />
        <!-- open graph -->
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ metaTitle }}" />
        <meta property="og:image" content="{{ metaImage }}" />
        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="og:description" content="{{ metaDescription }}" />
        {# TODO: declare no support for X #}
        <!-- twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ site.twitter }}" />
        <meta name="twitter:title" content="{{ metaTitle }}" />
        <meta name="twitter:description" content="{{ metaDescription }}" />
        <meta name="twitter:image" content="{{ metaImage }}" />
    </head>
    <body>
        {# {% include "partials/header.njk" %} #}
        {% block content %}
        {% endblock content %}
        {% include "partials/footer.njk" %}
    </body>
</html>
