<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {% set pageTitle = title + ' - ' + site.name %}

        <title>{{ pageTitle }}</title>

        {% if not metaDesc %}
            {% set metaDesc = summary %}
        {% endif %}

        <meta name="description" content="{{ metaDesc }}" />
        <meta name="twitter:description" content="{{ metaDesc }}" />
        <meta property="og:description" content="{{ metaDesc }}" />

        {# TODO: change keywords #}
        <meta name="keywords" content="HTML, CSS, JavaScript" />

        {% set currentUrl = site.url + page.url %}

        <link rel="canonical" href="{{ currentUrl }}" />

        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="og:title" content="{{ pageTitle }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ currentUrl }}" />
        <meta property="og:site_name" content="{{ site.name }}" />

        {% if socialImage %}
            <meta property="og:image" content="{{ socialImage }}" />
            <meta property="og:image:alt" content="Page image for {{ site.name }}" />
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:image" content="{{ socialImage }}" />
            <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
        {% endif %}

        {# TODO: add favicons meta #}
        <link rel="icon" href="/images/favicon.svg" />

        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="/assets/css/bundle.min.css" />
    </head>

    <body>
        {% include "partials/header.njk" %}
        <hr />
        {% block content %}
        {% endblock content %}
        <hr />
        {% include "partials/footer.njk" %}

        <is-land on:media="(prefers-reduced-motion: no-preference)" class="padding-none">
        <snow-fall mode="page"></snow-fall>
        </is-land>
    </body>

    <script type="module" src="/assets/js/is-land.js"></script>
    <script type="module" src="/assets/js/snow-fall.js"></script>

    {% if components %}<script type="module" src="/assets/js/{{components}}.js"></script>{% endif %}
</html>
