:root {
  /**
  * Type
  *
  * @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --step--2: clamp(0.6944rem, 0.6413rem + 0.2656vw, 0.96rem);
  --step--1: clamp(0.8331rem, 0.7598rem + 0.3669vw, 1.2rem);
  --step-0: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --step-1: clamp(1.2rem, 1.065rem + 0.675vw, 1.875rem);
  --step-2: clamp(1.44rem, 1.2593rem + 0.9038vw, 2.3438rem);
  --step-3: clamp(1.7281rem, 1.4878rem + 1.2019vw, 2.93rem);
  --step-4: clamp(2.0738rem, 1.7561rem + 1.5881vw, 3.6619rem);
  --step-5: clamp(2.4881rem, 2.0703rem + 2.0894vw, 4.5775rem);

  /**
  * Space
  *
  * @link https://utopia.fyi/space/calculator?c=320,16,1.2,1920,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --space-3xs: clamp(0.25rem, 0.225rem + 0.125vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  --space-s: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  --space-l: clamp(2rem, 1.8rem + 1vw, 3rem);
  --space-xl: clamp(3rem, 2.7rem + 1.5vw, 4.5rem);
  --space-2xl: clamp(4rem, 3.6rem + 2vw, 6rem);
  --space-3xl: clamp(6rem, 5.4rem + 3vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.15rem + 0.5vw, 0.75rem);
  --space-2xs-xs: clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem);
  --space-xs-s: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
  --space-s-m: clamp(1rem, 0.75rem + 1.25vw, 2.25rem);
  --space-m-l: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  --space-l-xl: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
  --space-xl-2xl: clamp(3rem, 2.4rem + 3vw, 6rem);
  --space-2xl-3xl: clamp(4rem, 3rem + 5vw, 9rem);

  /* Custom pairs */
  --space-3xs-3xl: clamp(0.25rem, -1.5rem + 8.75vw, 9rem);
  --space-2xs-3xl: clamp(0.5rem, -1.2rem + 8.5vi, 9rem);
  --space-s-l: clamp(1rem, 0.6rem + 2vw, 3rem);

  /**
  * Borders
  */
  --border-thin: 0.0625rem;

  /* Components */
  --snow-fall-color: #c6fbff;
  --split-flap-display-color: var(--color-accent);

  /* Timing functions */
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
}

:root[data-theme="light"] {
  --color-text: oklch(0% 0 0);
  --color-text-light: color-mix(in oklch, var(--color-text) 50%, white 50%);

  --color-background: oklch(97.33% 0.027 90.9);
  --color-background-tint: oklch(95.68% 0.055 90.32);
  --color-background-dark: color-mix(
    in oklch,
    var(--color-background),
    black 5%
  );

  --color-primary: oklch(84.88% 0.146 125.27);
  --color-primary-dark: color-mix(in oklch, var(--color-primary), black 40%);

  --color-secondary: oklch(79.12% 0.153 75.35);
  --color-secondary-dark: color-mix(
    in oklch,
    var(--color-secondary),
    black 40%
  );

  --color-accent: oklch(58.42% 0.25592200781975005 338.13134085516555);
  --color-accent-dark: color-mix(in oklch, var(--color-accent), black 10%);
  --color-accent-light: color-mix(in oklch, var(--color-accent), white 10%);
}

/* TODO: add color tints from light mode */
:root[data-theme="dark"] {
  --color-text: oklch(100% 0 89.88);
  --color-background: oklch(20.34% 0.037 91.59);
  --color-primary: oklch(60.62% 0.143 127.4);
  --color-secondary: oklch(68.3% 0.144 71.91);
  --color-accent: oklch(90.71% 0.146 194.89);
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--step-0);

  background-color: var(--color-background);
  color: var(--color-text);

  margin: 0;
}

body > *:not(hr) {
  padding-inline: var(--space-2xs-3xl);
}

body > hr {
  width: 100%;
  margin: 0;
}

a:not(.button) {
  text-underline-offset: 0.2em;

  text-decoration-color: var(--color-accent);

  transition: color 0.15s;
}

a:not(.button):hover {
  color: var(--color-accent);
}

a:not(.button):has(svg) {
  display: inline-flex;
  gap: 0.2em;
  align-items: center;
  vertical-align: text-bottom;
}

a:not(.button):has(svg) > svg {
  color: var(--color-accent);
}

article {
  max-width: 75ch;
}

article > h1:first-of-type {
  font-size: 2em;
  margin-block-start: var(--space-m);
  text-wrap: pretty;
}

article > h1 {
  font-size: 1.75em;
  margin-block-start: var(--space-xl);
}

article > h2 {
  margin-block-start: var(--space-l);
}

article > h3 {
  margin-block-start: var(--space-m);
}

article > ul,
article > ol {
  margin-block-end: var(--space-l);
}

article code {
  display: inline-block;
  background-color: var(--color-background-dark);
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  margin-block: 0.1em;
}

article blockquote {
  font-style: italic;
}

@media (prefers-reduced-motion) {
  body * {
    transition: none !important;
    animation: none !important;
  }
}
