.align-items-center {
  align-items: center;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.border-none {
  border: none !important;
}

.font-normal {
  font-weight: normal;
}

.font-semi {
  font-weight: 500;
}

.list-style-type-none {
  list-style-type: none;
}

.margin-block-start-none {
  margin-block-start: 0;
}

.max-h-10 {
  max-height: 10svh;
}

.padding-none {
  padding: 0;
}

.padding-inline-3xs-3xl {
  padding-inline: var(--space-3xs-3xl) !important;
}

.padding-inline-2xs-3xl {
  padding-inline: var(--space-2xs-3xl) !important;
}

.padding-inline-start-none {
  padding-inline-start: 0 !important;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 10px;
}

.space_between {
  justify-content: space-between;
}

.text-accent {
  color: var(--color-accent);
}

.text-bold {
  font-weight: 700;
}

.text-secondary {
  color: var(--color-secondary);
}

.text-shadow {
  text-shadow: 1px 1px 0px var(--color-text);
}

.text-xl {
  font-size: 1.25em;
}

.underline-none {
  text-decoration: none;
}
