.align-items-center {
  align-items: center;
}

.aspect-3-2 {
  aspect-ratio: 3/2;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.border-none {
  border: none !important;
}

.font-normal {
  font-weight: normal;
}

.font-semi {
  font-weight: 500;
}

.line-height-0 {
  line-height: 0;
}

.list-style-type-none {
  list-style-type: none;
}

.margin-block-0 {
  margin-block: 0;
}

.margin-block-start-none {
  margin-block-start: 0;
}

.margin-inline-auto {
  margin-inline: auto;
}

.max-h-10 {
  max-height: 10svh;
}

.padding-none {
  padding: 0;
}

.padding-inline-3xs-3xl {
  padding-inline: var(--space-3xs-3xl) !important;
}

.padding-inline-2xs-3xl {
  padding-inline: var(--space-2xs-3xl) !important;
}

.padding-inline-start-none {
  padding-inline-start: 0 !important;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 10px;
}

.space_between {
  justify-content: space-between;
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-dark {
  color: var(--color-accent-dark);
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-light {
  color: color-mix(in oklch, var(--color-primary) 100%, white 30%);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-dark {
  color: color-mix(in oklch, var(--color-secondary) 100%, black 40%);
}

.text-shadow {
  text-shadow: 1px 1px 0px var(--color-text);
}

.text-xl {
  font-size: 1.25em;
}

.hover\:-translate-y-2:hover {
  translate: 0px -2px;
}

.active\:translate-y-0:active {
  translate: 0px 0px;
}

.underline-none {
  text-decoration: none;
}
