---
components: animated-flag
---

{% extends "layouts/base.njk" %}

{% block content %}
  <main
    id="about"
    class="about | box cluster | border-none"
    data-justify="center"
    data-align="flex-start"
  >
    <article class="about__bio">
      <h1>Bio</h1>

      {% for paragraph in dictionary.bio[locale] %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </article>

    <aside class="about__contact | stack" data-align="center">
      <is-land on:media="(prefers-reduced-motion: no-preference)">
        <animated-flag columns="10" class="aspect-3-2"></animated-flag>
      </is-land>

      <a
        href="mailto:conorpetersondev@gmail.com"
        class="button"
        button-color="secondary"
        >Email me!</a
      >
    </aside>
  </main>

  <hr />

  {# TODO: categorize tech and add filtering #}
  <section id="tech" class="tech | box | border-none padding-inline-2xs-3xl">
    <article class="max-width-full">
      <header>
        <h2>{{ dictionary.tech.enjoying[locale] }}</h2>
      </header>

      <ul
        class="tech__list | cluster | list-style-type-none padding-inline-start-none"
        data-justify="start"
      >
        {% for tech in tech.enjoying %}
          <li class="tech__item">
            <a href="{{ tech.url }}">{{ tech.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>

    <article class="max-width-full">
      <header>
        <h2>{{ dictionary.tech.explored[locale] }}</h2>
      </header>

      <ul
        class="tech__list | cluster | list-style-type-none padding-inline-start-none"
        data-justify="start"
      >
        {% for tech in tech.exploring %}
          <li class="tech__item">
            <a href="{{ tech.url }}">{{ tech.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
{% endblock content %}
