{% extends "layouts/base.njk" %}

{% block content %}
    <main id="about"
          class="about | box cluster | border-none"
          data-justify="center"
          data-align="flex-start">
        <aside class="about__contact | stack" data-align="center">
            <small><em>{{ dictionary.me[locale] }}</em></small>

            <div id="image-container" class="frame">
                {% image "./src/assets/images/pfp_circle.png", "Conor C.'s profile picture", [420, 450, 490], "(max-width: 768px) 88vw,(max-width: 1024px) 55vw, 45vw", "eager", "sync" %}
            </div>

            <a href="mailto:conorpetersondev@gmail.com"
               class="button"
               button-color="secondary">Email me!</a>
        </aside>

        <article class="about__bio">
            <h2>Bio</h2>

            {% for paragraph in dictionary.bio[locale] %}<p>{{ paragraph }}</p>{% endfor %}
        </article>
    </main>

    <hr />

    <section id="tech" class="box | border-none padding-inline-2xs-3xl">
        <div>
            <header>
                <h2>{{ dictionary.tech.used[locale] }}</h2>
            </header>
            <ul>
                <li>{{ dictionary.soon[locale] }}</li>
            </ul>
        </div>

        <div>
            <header>
                <h2>{{ dictionary.tech.explored[locale] }}</h2>
            </header>
            <ul>
                <li>{{ dictionary.soon[locale] }}</li>
            </ul>
        </div>
    </section>
{% endblock content %}
