{% extends "layouts/base.njk" %}

{# Get posts by locale #}
{% if locale and locale == "cnr" %}
    {% set posts = collections.posts_cnr %}
{% elif locale == "en" %}
    {% set posts = collections.posts_en %}
{% else %}
    {% set posts = [] %}
{% endif %}

{% set dateOptions = {
    "hour12": false,
    "year": "numeric",
    "month": "numeric",
    "day": "numeric",
    "hour": "numeric",
    "minute": "numeric",
    "timeZoneName": "short"
} %}

{% block content %}
    <main id="posts" class="box | posts">
        {% if posts | length != 0 %}
            <ul id="posts-list"
                class="posts__list | padding-inline-start-none"
                role="list">
                {% for post in posts | reverse %}
                    <li>
                        <h3>
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h3>
                        <small>
                            <time datetime="{{ post.date }}"><em>{{ post.date.toLocaleDateString(locale, dateOptions) }}</em></time>
                        </small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ dictionary["no-posts"].locale }}</p>
        {% endif %}
    </main>
{% endblock content %}
