---
components: split-flap
---

{% extends "layouts/base.njk" %}

{% block content %}
    <main id="hero">
        <h1>Hello there! 👋</h1>
        <h1>
            I'm <span class="color-secondary">Conor C.,</span>
        </h1>
        <h2 class="font-semi">
            your friendly neighborhood <split-flap-display data-words="programmer, developer, engineer, spiderman">programmer</split-flap-display>
        </h2>
    </main>

    <section id="projects" class="[ box invert ]">
        <h2 id="section-title">Projects</h2>
        <div id="project-grid"
             class="[ flex-grid ] [ list-style-type-none padding-inline-start-none ]"
             data-justify="center">
            <div id="project-card" class="[ relative ]">
                <div id="project-image" class="[ frame ]">
                    <img id="project-image" src="/assets/images/placeholder.jpg" />
                </div>
                <h3 id="project-label" class="project__label">Project Title</h3>
            </div>

            <div id="project-card" class="[ relative ]">
                <div id="project-image" class="[ frame ]">
                    <img id="project-image" src="/assets/images/placeholder.jpg" />
                </div>
                <h3 id="project-label" class="project__label">Project Title</h3>
            </div>
            <div id="project-card" class="[ relative ]">
                <div id="project-image" class="[ frame ]">
                    <img id="project-image" src="/assets/images/placeholder.jpg" />
                </div>
                <h3 id="project-label" class="project__label">Project Title</h3>
            </div>
            <div id="project-card" class="[ relative ]">
                <div id="project-image" class="[ frame ]">
                    <img id="project-image" src="/assets/images/placeholder.jpg" />
                </div>
                <h3 id="project-label" class="project__label">Project Title</h3>
            </div>
        </div>
    </section>
{% endblock content %}
