---
components: split-flap
---

{% extends "layouts/base.njk" %}

{% block content %}
    <main id="hero" class="hero">
        <h1>Hello there! 👋</h1>
        <h1>
            I'm <span class="color-secondary">Conor C.,</span>
        </h1>
        <h2 class="font-semi">
            Your friendly neighborhood <split-flap-display data-words="programmer, developer, engineer, spiderman">programmer</split-flap-display>
        </h2>
    </main>

    <section id="projects" class="projects | box invert | stack | border-none">
        <header id="projects-header">
            <h2 id="projects-title">Latest Projects</h2>
        </header>

        <div id="project-grid"
             class="[ flex-grid ] [ list-style-type-none padding-inline-start-none ]"
             data-justify="center">

            {% for project in projects %}
                <div id="project-card" class="[ relative ]">
                    <div id="project-image" class="[ frame ]">{% image project.imageSrc, "Website's homepage", ["auto"], "100vw" %}</div>
                    <h3 id="project-label" class="project__label">{{ project.title }}</h3>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="repos" class="repos | box stack | border-none">
        <header id="repos-header">
            <h2 id="repos-title">Latest Repos</h2>
            <a href="https://github.com/wem1c" class="color-black"><small>View all</small></a>
        </header>

        <div id="repo-grid"
             class="flex-grid | list-style-type-none padding-inline-start-none ]">

            {% if repos.length > 0 %}
                {% for repo in repos %}
                    <a href={{ repo.html_url }}>
                        <div id="repo-card" class="[ relative ]">
                            <h3 id="repo-name">{{ repo.name }}</h3>
                            <p id="repo-desc">{{ repo.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No repository data to display</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}
