{% extends "layouts/base.njk" %}

{% block content %}
    <main>
        <article class="box | border-none max-width-75 margin-inline-auto">{{ content | safe }}</article>
    </main>
{% endblock content %}
