---
permalink: /{{ locale }}/index.html
---

{# Metadata #}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}
{% set metaTitle = site[locale].metaTitle %}
{# Layout #}
{% extends "layouts/base.njk" %}
{% block content %}
    {% include "pages/index.njk" %}
{% endblock content %}
