<footer class="cluster">
    <small>Made with 🧠⚡❤️</small>

    <small>◝(ᵔᗜᵔ)◜</small>

    <ul id="socials"
        class="cluster | footer__socials | list-style-type-none padding-inline-start-none line-height-0 margin-block-0">
        {% for social in socials %}
            <li class="button square"
                button-shape="square"
                button-color="background"
                button-variant="hidden">
                <a href="{{ social.url }}"
                   aria-label="{{ "Visit my " + social.name + " page." }}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         width="36"
                         height="36">
                        <path d="{{ social.icon_path }}"></path>
                    </svg>
                </a>
            </li>
        {% endfor %}
    </ul>

</footer>
