<header class="header">
    <a href="/{{ locale }}/"
       class="header__link | line-height-0"
       aria-label="C-Squared logo link">
        <svg class="logo" viewBox="-1 -1 12 12">
            <path class="logo__path" fill="none" stroke="currentColor" d="M 7,3 H 3 V 7 H 7" />
            <path class="logo__path animation-fast" fill="none" stroke="currentColor" d="M 0,0 V 10 H 10.5" />
            <path class="logo__path animation-fast" fill="none" stroke="currentColor" d="M 10,10 V 0 H -0.5" />
        </svg>
    </a>

    {% include "partials/navbar.njk" %}

    {% include "partials/language-picker.njk" %}
</header>
