<header class="cluster | header" data-justify="space-between">
    <a href="/{{ locale }}/" class="logo">C^2</a>
    {% include "partials/navbar.njk" %}
    {% include "partials/language-picker.njk" %}
</header>
