{% if altLocaleUrl %}
  {% set href = altLocaleUrl %}
{% else %}
  {% set href = page.url | swap_locale %}
{% endif %}

<a id="language-picker" href="{{ href }}" class="language-picker"
  >{{ langPicker.flags[locale] }}</a
>
