{% if locale === "en" %}
    <a id="language-picker"
       href="{{ page.url | locale_url('en', 'cnr') }}"
       class="language-picker | underline-none hover:-translate-y-2 active:translate-y-0">🇺🇸</a>
{% else %}
    <a id="language-picker"
       href="{{ page.url | locale_url('cnr', 'en') }}"
       class="language-picker | underline-none hover:-translate-y-2 active:translate-y-0">🇲🇪</a>
{% endif %}
