<nav class="cluster" data-justify="start">
    {% for item in navigation[locale] %}
        <a href="{{ item.url }}" hreflang="{{ locale }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
    {% endfor %}
</nav>
