<nav class="cluster | navbar" data-justify="evenly">
    {%- for item in navigation[locale] %}
        <a href="{{ item.url }}"
           hreflang="{{ locale }}"
           class="navbar__link"
           {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
    {%- endfor -%}
</nav>
